body {
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
/*	font-size: 10pt;
	color: #333;
	padding-top: 20px;*/
}

img {
	-ms-interpolation-mode: bicubic;
}

.content {
	background-color: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.hero-unit, .navbar {
	margin-bottom: 5px;
}

/*.wf-loading * {
	opacity: 0;
	background: url('../img/loader.gif') no-repeat center center;
    height: 100%;
    overflow: hidden;
}
.wf-active *,
.wf-inactive * {
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}*/

/*.btn-group {
	float: none;
	margin: 0 auto;
}*/
table.table tbody tr.highlight td, table tbody tr.highlight td {
	background-color: #ff4326;
	color: #ffffff;
}
::-moz-selection {
	background: #f89406;
	color: #ffffff;
	text-shadow: none;
}
::-webkit-selection {
	background: #f89406;
	color: #ffffff;
	text-shadow: none;
}

#main {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: white;
}
.accordion {
	background-color: white;
}
.accordion-toggle {
	cursor: pointer;
}
abbr {
	text-transform: lowercase;
}
/*pre, code {
	font-family: "Inconsolata";
	font-size: 10pt;
}
pre.prettyprint {
	overflow: hidden;
}
#steps {
	list-style: none;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
#steps li {
	font-size: 24px;
	float: left;
	padding: 10px;
	color: #b0b1b3;
}
#steps li span {
	font-size: 11px;
	display: block;
}
#steps li.current {
	color: #000;
}
.map {
	height: 400px;
	border: 0px solid #777;
	overflow: hidden;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.map img {
	max-width: none;
}*/
#ui-datepicker-div {
	display: none;
}

.square {
	height: 100px;
	width: 100px;
}

a.mute:hover {
	text-decoration: none;
}

/*Julia*/
.cuadro {
	height: 110px;
	width: 150px;
}
.cuadroT {
	height: 110px;
	width: 615px;
}

.ziseTable{
	height: 30px;
	width: 200px;
}
