<link href="{{ urlFor('home') }}css/font-awesome.css" rel="stylesheet">
<link href="{{ urlFor('home') }}css/openwebicons-bootstrap.css" rel="stylesheet">
<link href="{{ urlFor('home') }}css/bootstrap.css" rel="stylesheet">
{#<link href="{{ urlFor('home') }}css/bootstrap-image-gallery.min.css" rel="stylesheet">#}
{#<link href="{{ urlFor('home') }}css/jquery.fileupload-ui.css" rel="stylesheet">#}
<link href="{{ urlFor('home') }}css/datepicker.css" rel="stylesheet">
<link href="{{ urlFor('home') }}css/bootstrap-notify.css" rel="stylesheet">
<link href="{{ urlFor('home') }}css/bootstrap-wysihtml5.css" rel="stylesheet">
<link href="{{ urlFor('home') }}css/dataTables.TwitterBootstrap.css" rel="stylesheet">
<link href="{{ urlFor('home') }}css/chosen.css" rel="stylesheet">
<!--elFinder-->
<link href="{{ urlFor('home') }}css/jquery-ui.css" rel="stylesheet">
<link href="{{ urlFor('home') }}css/elfinder.min.css" rel="stylesheet">
<link href="{{ urlFor('home') }}css/theme.css" rel="stylesheet">
{#<link href="{{ urlFor('home') }}css/jquery.mentionsInput.css" rel="stylesheet">#}
{#<link href="{{ urlFor('home') }}js/nvd3/d3.css" rel="stylesheet">#}
<link href="{{ urlFor('home') }}css/DirectoryLister.css" rel="stylesheet">
<link href="{{ urlFor('home') }}css/jqueryFileTree.css" rel="stylesheet">
<link href="{{ urlFor('home') }}css/julian.css" rel="stylesheet">
<link href="{{ urlFor('home') }}css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="{{ urlFor('home') }}css/custom.css" rel="stylesheet">
<style>	#alert {display: none;}</style>
