{% extends 'admin-base.html' %}
{% block content %}
{% set fontSize = 40 %}
<div class="row">
	<div class="offset3 span2">
		<a href="{{ urlFor('admin-usuarios') }}" class="btn btn-primary square">
			<br />
			<i class="icon-group" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Usuarios</strong>
		</a>
	</div>
	<div class="span2">
		<a href="{{ urlFor('admin-roles') }}" class="btn btn-primary square">
			<br />
			<i class="icon-check" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Roles</strong>
		</a>
		
	</div>
	<div class="span2">
		<a href="{{ urlFor('admin-aspirantes') }}" class="btn btn-primary square">
			<br />
			<i class="icon-cc-by" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Aspirantes</strong>
		</a>
	</div>
</div>
<br />
<div class="row">
	<div class="offset3 span2">
		<a href="#" class="btn btn-primary square">
			<br />
			<i class="icon-plus-sign" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Nuevo Evento</strong>
		</a>
	</div>
	<div class="span2">
		<a href="{{ urlFor('admin-eventos') }}" class="btn btn-primary square">
			<br />
			<i class="icon-calendar" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Eventos</strong>
		</a>
	</div>
	<div class="span2">
		<a href="{{ urlFor('gestor-catalogos') }}" class="btn btn-primary square">
			<br />
			<i class="icon-list-alt" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Catálogos</strong>
		</a>
	</div>
</div>
<br />
<div class="row">
	<div class="offset3 span2">
		<a href="{{ urlFor('admin-secciones') }}" class="btn btn-primary square">
			<br />
			<i class="icon-sitemap" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Secciones</strong>
		</a>
	</div>
	<div class="span2">
		<a href="{{ urlFor('admin-noticias') }}" class="btn btn-primary square">
			<br />
			<i class="icon-comments-alt" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Noticias</strong>
		</a>
	</div>
	<div class="span2">
		<a href="{{ urlFor('admin-archivos') }}" class="btn btn-primary square">
			<br />
			<i class="icon-hdd" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Archivos</strong>
		</a>
	</div>
</div>
<br />
<div class="row">
	<div class="offset3 span2">
		<a href="{{ urlFor('CatInstitucion') }}" class="btn btn-primary square">
			<br />
			<i class="icon-book" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Instituciones</strong>
		</a>
	</div>
	<div class="span2">
		<a href="{{ urlFor('admin-estadisticas') }}" class="btn btn-primary square">
			<br />
			<i class="icon-bar-chart" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Estadísticas</strong>
		</a>
	</div>
	<div class="span2">
		<a href="{{ urlFor('home') }}" class="btn btn-primary square">
			<br />
			<i class="icon-sign-blank" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Vacío</strong>
		</a>
	</div>
</div>
{% endblock %}