{% extends "base.html" %}

{% block page_title %}Distrito {{ district.id }}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
	{% if user.role == 1%}
	  <li>
	    <a href="{{ urlFor('home') }}">Inicio</a> <span class="divider">/</span>
	  </li>
  	{% endif %}
  <li class="active">Distrito {{ district.id }}</li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="offset3 span6">
		<div class="mobily-blocks activities btn">
			<strong>Distrito {{ district.id }}</strong>
			<ul class="reset">
				{% for activity in activities %}
				<li>
					<a href="{{ urlFor('activity', {'district': district.id, 'activity': activity.id}) }}" class="btn {{ actis[activity.id].status }}">
						{{ activity.name }}		
					</a>
				</li>
				{% endfor %}
			</ul>			
		</div>
	</div>	
</div>
{% endblock %}