
{% extends 'docente-base.html' %}
{% block content %}
<div class="row">
		<div class="offset3 span2">
		<a href="#" class="btn btn-primary square">
			<br />
			<i class="icon-user" style="font-size: 50px;"> </i>
			<br /><strong>Editar perfil</strong>
		</a>
	</div>
</div>
<br />
<div class="row">
	<div class="offset3 span2">
		<a href="{{ urlFor('docente-tesistas') }}" class="btn btn-primary square">
			<br />
			<i class="icon-group" style="font-size: 50px;"> </i>
			<br /><strong>Gestor de Tesistas</strong>
		</a>
	</div>
	<div class="span2">
		<a href="#" class="btn btn-primary square">
			<br />
			<i class="icon-plus-sign" style="font-size: 50px;"> </i>
			<br /><strong>Crear Eventos</strong>
		</a>
	</div>
	<div class="span2">
		<a href="{{ urlFor('eventosDoc') }}" class="btn btn-primary square">
			<br />
			<i class="icon-list" style="font-size: 50px;"> </i>
			<br /><strong>Listar eventos</strong>
		</a>
	</div>
</div>


{% endblock %}