
{% extends 'admin-base.html' %}
{% block content %}
{% set fontSize = 40 %}
<div class="row">
		<div class="offset3 span2">
		<a href="{{ urlFor('perfil-docente') }}" class="btn btn-primary square">
			<br />
			<i class="icon-user" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Editar perfil</strong>
		</a>
	</div>
		<div class="span2">
		<a href="{{ urlFor('docente-publicaciones') }}" class="btn btn-primary square">
			<br />
			<i class="icon-book" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Gestor de Publicaciones</strong>
		</a>
	</div>
	<div class="span2">
		<a href="{{ urlFor('docente-tesistas') }}" class="btn btn-primary square">
			<br />
			<i class="icon-group" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Gestor de Tesistas</strong>
		</a>
	</div>
</div>
<br />
<div class="row">
	
	<div class="offset3 span2">
		<a href="{{ urlFor('calendario') }}" class="btn btn-primary square">
			<br />
			<i class="icon-calendar" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Calendario</strong>
		</a>
	</div>
	<div class="span2">
		<a href="{{ urlFor('nuevo-evento') }}" class="btn btn-primary square">
			<br />
			<i class="icon-plus-sign" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Crear Eventos</strong>
		</a>
	</div>
	
	<div class="span2">
		<a href="{{ urlFor('eventosDoc') }}" class="btn btn-primary square">
			<br />
			<i class="icon-list" style="font-size: {{ fontSize }}px;"> </i>
			<br /><strong>Listar eventos</strong>
		</a>
	</div>
</div>


{% endblock %}