{% extends 'admin-base.html' %}
{% block content %}

<legend align="center"" ">
	<strong> Gestor de Publicaciones</strong>
</legend>

<div class="row">

	<div class="span6">

		<a class="btn btn-primary" data-toggle="modal" href="#modNuevoLibro"><i class="icon-plus-sign"></i> Libro</a>
		<a class="btn btn-primary" data-toggle="modal" href="#modNuevoTrabajo"><i class="icon-plus-sign"></i> Trabajos</a>
		<a class="btn btn-primary" data-toggle="modal" href="#modNuevaMemoria"><i class="icon-plus-sign"></i> Memorias</a>
		<a class="btn btn-primary" data-toggle="modal" href="#modNuevaRevista"><i class="icon-plus-sign"></i> Revistas</a>

	</div>

</div>
<br />
<!-- AGREGAR PUBLICACIONES -->
<ul class="nav nav-tabs" id="myTab">
	<li class="active">
		<a  href="#libro" data-toggle="tab">Libros</a>
	</li>
	<li>
		<a href="#trabajo" data-toggle="tab">Trabajos</a>
	</li>
	<li>
		<a href="#memoria" data-toggle="tab">Memorias</a>
	</li>
	<li>
		<a href="#revista" data-toggle="tab">Revistas</a>
	</li>

</ul>

<div class="tab-content">
	<br />
	<!-- TAB MEMORIAS -->
	<div class="tab-pane fade" id="memoria" >

		<div class="row">
			<div class="span11">

				<table class="table table-bordered table-condensed table-striped" id="memorias" >
					<thead>
						<tr>
							<th class="">#</th>
							<th class="">Titulo</th>
							<th class="">Coautor/s</th>
							<th class="">Lugar de Publicacion</th>
							<th class="">Fecha de publicación</th>
							<th class="">Opciones</th>
						</tr>
					</thead>
					<tbody>
						{% for upu in usuario.upu %}
						
						{% if upu.publicacion is defined %}
						
						{% if upu.publicacion.tipo=="Memoria" %}
						
						<tr>
							<td align="center">{{ loop.index }}</td>
							<td align="center">{{ upu.publicacion.nombre}}</td>
							<td align="center">{{ upu.publicacion.coautores }}</td>
							<td align="center">{{ upu.publicacion.evento }}</td>
							<td align="center">{{ upu.publicacion.fecha_publicacion }}</td>
							<td align="center">
								<div class="btn-group">
									<a class="btn btn-success memoriaedit" rel="tooltip" title="Editar" data-toggle="modal" href="">
										<i class="icon-edit"></i>
										<span id="memoria-{{ upu.publicacion.id }}" data-nombre="{{ upu.publicacion.nombre }}" data-coatores="{{ upu.publicacion.coautores }}" data-evento="{{ upu.publicacion.evento }}" data-fecha="{{ upu.publicacion.fecha_publicacion }}" 
						data-autores="[{% for usuario in usuarios[ upu.publicacion.id ] %}'{{ usuario }}',{% endfor %}]"></span>
									</a>
									<a class="btn btn-danger" rel="tooltip" title="Borrar" data-toggle="modal" href="#modconfirmacion{{ upu.publicacion.id }}">
										<i class="icon-trash"></i>
									</a>
								</div>
							</td>
						</tr>
						
						{% endif %}
						{% endif %}
						{% endfor %}
					
					</tbody>

				</table>

			</div>
		</div>

		<script>
			head.ready(function() {
				$(function() {
					$('#results').removeClass('hide').fadeIn(1500);
					var usersTable = $('#memorias').dataTable({
						"oLanguage" : {
							"sUrl" : "{{ urlFor('home')}}js/dataTables.spanish.txt"
						},
						"fnDrawCallback" : function() {
						},
						"sDom" : "<'row'<'span8'lf>r>t<'row'<'span3'i><'span4'p>>",
						"sPaginationType" : "bootstrap"
					});
					
					$('.memoriaedit').live("click",function(){
						var span=$(this).children('span');
						var nombre=span.data('nombre');
						var coautores=span.data('coautores');
						var evento=span.data('evento');
						var fecha=span.data('fecha');
						var autores=span.data('autores');
						
						var form=$('#formm');
						var fnombre=form.find('#mtitulo');
						var fcoautores=form.find('#mautor');
						var fevento=form.find('#mpublicacion');
						var ffecha=form.find('#mfechapublicacion');
						var select=form.find('#mautores');
						var fautores=form.find('#mautores option');
						//console.log(nombre);
						fnombre.val(nombre);
						fcoautores.val(coautores);
						fevento.val(evento);
						ffecha.val(fecha);
						
						//console.log(fnombre.val());
						fautores.each(function(){
							var e=$(this);
							if($.inArray(e.val(),autores)>-1){
								console.log(e.val())
								e.attr('selected','selected');
							}
							
						});
						 select.trigger("liszt:updated");
						
						$('#modEditMemoria').modal('show');
					});
				});
			});
		</script>

	</div>

	<!-- TAB REVISTAS -->
	<div class="tab-pane fade" id="revista" >
		<div class="row">
			<div class="span11">

				<table class="table table-bordered table-condensed table-striped" id="revistas" >
					<thead>
						<tr>
							<th >#</th>
							<th >Titulo</th>
							<th >Coautor/s</th>
							<th >Revista de Publicacion</th>
							<th >Tipo de Revista</th>
							<th >Fecha de publicación</th>
							<th >Opciones</th>
						</tr>
					</thead>
					<tbody>

						{% for upu in usuario.upu %}
						{% if upu.publicacion is defined %}
						{% if upu.publicacion.tipo=="Revista" %}
						<tr>
							<td align="center">{{ loop.index }}</td>
							<td align="center">{{  upu.publicacion.nombre}}</td>
							<td align="center">{{  upu.publicacion.coautores }}</td>
							<td align="center">{{  upu.publicacion.evento }}</td>
							<td align="center">{{  upu.publicacion.tipo_trabajo }}</td>
							<td align="center">{{  upu.publicacion.fecha_publicacion }}</td>
							<td align="center">
								<div class="btn-group">
									<a class="btn btn-success revistaedit" rel="tooltip" title="Editar" data-toggle="modal" href="">
										<i class="icon-edit"></i>
										<span id="revista-{{ upu.publicacion.id }}" data-nombre="{{ upu.publicacion.nombre }}" data-coatores="{{ upu.publicacion.coautores }}" data-evento="{{ upu.publicacion.evento }}" data-fecha="{{ upu.publicacion.fecha_publicacion }}" 
						data-tipo="{{  upu.publicacion.tipo_trabajo }}" data-autores="[{% for usuario in usuarios[ upu.publicacion.id ] %}'{{ usuario }}',{% endfor  %}]"></span>
									</a>
									<a class="btn btn-danger" rel="tooltip" title="Borrar" data-toggle="modal" href="#modconfirmacion{{  upu.publicacion.id }}">
										<i class="icon-trash"></i>
									</a>
								</div>
							</td>
						</tr>
						{% endif %}
						{% endif %}
						{% endfor %}
					
					</tbody>

				</table>

			</div>
		</div>

		<script>
			head.ready(function() {
				$(function() {
					//$('#waiting').addClass('hide').fadeOut(2500);
					$('#results').removeClass('hide').fadeIn(1500);
					var usersTable = $('#revistas').dataTable({
						"oLanguage" : {
							"sUrl" : "{{ urlFor('home')}}js/dataTables.spanish.txt"
						},
						"fnDrawCallback" : function() {
						},
						"sDom" : "<'row'<'span8'lf>r>t<'row'<'span3'i><'span4'p>>",
						"sPaginationType" : "bootstrap"
					});
					$('.revistaedit').live("click",function(){
						var span=$(this).children('span');
						var nombre=span.data('nombre');
						var coautores=span.data('coautores');
						var evento=span.data('evento');
						var tipo=span.data('tipo');
						var fecha=span.data('fecha');
						var autores=span.data('autores');
						
						var form=$('#formr');
						var fnombre=form.find('#rtitulo');
						var fcoautores=form.find('#rautor');
						var fevento=form.find('#revista');
						var ftipo=form.find('#rtipo');
						var ffecha=form.find('#rfechapublicacion');
						var select=form.find('##rautores');
						var fautores=form.find('#rautores option');
						fnombre.val(nombre);
						fcoautores.val(coautores);
						fevento.val(evento);
						ffecha.val(fecha);
						ftipo.val(tipo);
						
						
						console.log(fautores);
						fautores.each(function(){
						console.log(fnombre.val());
							var e=$(this);
							if($.inArray(e.val(),autores)>-1){
								console.log(e.val())
								e.attr('selected','selected');
							}
							
						});
						 select.trigger("liszt:updated");
						
						$('#modEditRevista').modal('show');
					});
				});
			});
		</script>
	</div>

	<!-- TAB Libros-->
	<div class="tab-pane fade active in" id="libro" >
		<div class="row">
			<div class="span11">

				<table class="table table-bordered table-condensed table-striped" id="libros" >
					<thead>
						<tr>
							<th >#</th>
							<th >Titulo</th>
							<th >Coautor/s</th>
							<th >Editorial</th>
							<th >ISBN</th>
							<th >Fecha de publicación</th>
							<th >Opciones</th>
						</tr>
					</thead>
					<tbody>
						
						{% for upu in usuario.upu %}
						{% if upu.publicacion is defined %}
						{% if upu.publicacion.tipo=="Libro" %}
						<tr>
							<td align="center">{{ loop.index }}</td>
							<td align="center">{{ upu.publicacion.nombre}}</td>
							<td align="center">{{ upu.publicacion.coautores }}</td>
							<td align="center">{{ upu.publicacion.editorial }}</td>
							<td align="center">{{ upu.publicacion.isbn }}</td>
							<td align="center">{{ upu.publicacion.fecha_publicacion }}</td>
							<td align="center">
								<div class="btn-group">
									<a class="btn btn-success libroedit" rel="tooltip" title="Editar" data-toggle="modal" href="">
										<i class="icon-edit"></i>
										<span id="libro-{{ upu.publicacion.id }}" data-nombre="{{ upu.publicacion.nombre }}" data-coatores="{{ upu.publicacion.coautores }}" data-editorial="{{ upu.publicacion.editorial }}" 
										data-fecha="{{ upu.publicacion.fecha_publicacion }}" data-isbn="{{  upu.publicacion.isbn }}" 
										data-autores="[{% for usuario in usuarios[ upu.publicacion.id ] %}'{{ usuario }}',{% endfor %}]"></span>
									
									</a>
									<a class="btn btn-danger" rel="tooltip" title="Borrar" data-toggle="modal" href="#modconfirmacion{{ upu.publicacion.id }}">
										<i class="icon-trash"></i>
									</a>
								</div>
							</td>
						</tr>
						
						{% endif %}
						{% endif %}
						{% endfor %}
						
					</tbody>

				</table>

			</div>
		</div>

		<script>
			head.ready(function() {
				$(function() {
					//$('#waiting').addClass('hide').fadeOut(2500);
					$('#results').removeClass('hide').fadeIn(1500);
					var usersTable = $('#libros').dataTable({
						"oLanguage" : {
							"sUrl" : "{{ urlFor('home')}}js/dataTables.spanish.txt"
						},
						"fnDrawCallback" : function() {
						},
						"sDom" : "<'row'<'span8'lf>r>t<'row'<'span3'i><'span4'p>>",
						"sPaginationType" : "bootstrap"
					});
					$('.libroedit').live("click",function(){
						var span=$(this).children('span');
						var nombre=span.data('nombre');
						var coautores=span.data('coautores');
						var editorial=span.data('editorial');
						var isbn=span.data('isbn');
						var fecha=span.data('fecha');
						var autores=span.data('autores');
						
						var form=$('#forml');
						var fnombre=form.find('#ltitulo');
						var fcoautores=form.find('#lautor');
						var feditorial=form.find('#editorial');
						var fisbn=form.find('#isbn');
						var ffecha=form.find('#lfechapublicacion');
						var fautores=form.find('#lautores option');
						var select=form.find('##lautores');
						//console.log(nombre);
						fnombre.val(nombre);
						fcoautores.val(coautores);
						feditorial.val(editorial);
						ffecha.val(fecha);
						fisbn.val(isbn);
						
						
						//console.log(fnombre.val());
						fautores.each(function(){
							var e=$(this);
							if($.inArray(e.val(),autores)>-1){
								console.log(e.val())
								e.attr('selected','selected');
							}
							
						});
						 select.trigger("liszt:updated");
						
						$('#modEditLibro').modal('show');
					});
				});
			});
		</script>
	</div>

	<!-- TAB trabajos-->
	<div class="tab-pane fade" id="trabajo" >
		<div class="row">
			<div class="span11">

				<table class="table table-bordered table-condensed table-striped" id="trabajos" >
					<thead>
						<tr>
							<th >#</th>
							<th >Titulo</th>
							<th >Coautor/s</th>
							<th >Nacionalidad</th>
							<th >Tipo de Trabajo</th>
							<th >Fecha de publicación</th>
							<th >Opciones</th>
						</tr>
					</thead>
					<tbody>
						{% for upu in usuario.upu %}
						{% if upu.publicacion is defined %}
						{% if upu.publicacion.tipo=="Trabajo" %}
						<tr>
							<td align="center">{{ loop.index }}</td>
							<td align="center">{{ upu.publicacion.nombre}}</td>
							<td align="center">{{ upu.publicacion.coautores }}</td>
							<td align="center">{{ upu.publicacion.nacionalidad }}</td>
							<td align="center">{{ upu.publicacion.tipo_trabajo }}</td>
							<td align="center">{{ upu.publicacion.fecha_publicacion }}</td>
							<td align="center">
								<div class="btn-group">
									<a class="btn btn-success trabajoedit" rel="tooltip" title="Editar" data-toggle="modal" href="">
										<i class="icon-edit"></i>
										<span id="libro-{{ upu.publicacion.id }}" data-nombre="{{ upu.publicacion.nombre }}" data-coatores="{{ upu.publicacion.coautores }}" data-nacionalidad="{{ upu.publicacion.nacionalidad }}" data-fecha="{{ upu.publicacion.fecha_publicacion }}" 
						data-tipo="{{  upu.publicacion.tipo_trabajo }}" data-autores="[{% for usuario in usuarios[ upu.publicacion.id ] %}'{{ usuario }}',{% endfor  %}]"></span>
									</a>
									<a class="btn btn-danger" rel="tooltip" title="Borrar" data-toggle="modal" href="#modconfirmacion{{ upu.publicacion.id }}">
										<i class="icon-trash"></i>
									</a>
								</div>
							</td>
						</tr>
						{% endif %}
						{% endif %}
						{% endfor %}
						
					</tbody>

				</table>

			</div>
		</div>

		<script>
			head.ready(function() {
				$(function() {
					//$('#waiting').addClass('hide').fadeOut(2500);
					$('#results').removeClass('hide').fadeIn(1500);
					var usersTable = $('#trabajos').dataTable({
						"oLanguage" : {
							"sUrl" : "{{ urlFor('home')}}js/dataTables.spanish.txt"
						},
						"fnDrawCallback" : function() {
						},
						"sDom" : "<'row'<'span8'lf>r>t<'row'<'span3'i><'span4'p>>",
						"sPaginationType" : "bootstrap"
					});
					$('.trabajoedit').live("click",function(){
						var span=$(this).children('span');
						var nombre=span.data('nombre');
						var coautores=span.data('coautores');
						var nacionalidad=span.data('nacionalidad');
						var tipo=span.data('tipo');
						var fecha=span.data('fecha');
						var autores=span.data('autores');
						
						var form=$('#formt');
						var fnombre=form.find('#ttitulo');
						var fcoautores=form.find('#tautor');
						var fnacionalidad=form.find('#nacionalidad');
						var ftipo=form.find('#ttipo');
						var ffecha=form.find('#tfechapublicacion');
						var fautores=form.find('#tautores option');
						var select=form.find('#tautores');
						console.log(tipo);
						fnombre.val(nombre);
						fcoautores.val(coautores);
						fnacionalidad.val(nacionalidad);
						ffecha.val(fecha);
						ftipo.val(tipo);
						
						
						//console.log(fnombre.val());
						fautores.each(function(){
							var e=$(this);
							if($.inArray(e.val(),autores)>-1){
								console.log(e.val())
								e.attr('selected','selected');
							}
							
						});
						 select.trigger("liszt:updated");
						
						$('#modEditTrabajo').modal('show');
					});
				});
			});
		</script>
	</div>
	<br />
</div>
<!-------------------------------------------Modales-------------------------------------------------------------------------->

<div class="modal hide fade" id="modNuevaMemoria">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3>Nueva Memoria</h3>
	</div>
	<form class="form-horizontal" method="post" action="{{ urlFor('publicaciones-post') }}">
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="mtitulo">Titulo: </label>
				<div class="controls">
					<input id="mtitulo" name="mtitulo" class="span3" type="text">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="mautor">Autores: </label>
				<div class="controls">
					<input id="mautor" name="mautor" class="span3"  type="text">
					<a data-content="Se deben ingrese los autores tal y como aparecen en la publicación." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="mpublicacion">Lugar de publicacion: </label>
				<div class="controls">
					<input id="mpublicacion" name="mpublicacion" class="span3"  type="text">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="mfechapublicacion">Fecha de publicación:</label>
				<div class="controls">
					<div class="input-append date" id="dp4" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
						<input id="mfechapublicacion" name="mfechapublicacion" class=" span2 datepicker" size="16" type="text" value="12-02-2012">
						<span class="add-on" ><i class="icon-calendar"></i></span>
					</div>
					<input id="tipo" name="tipo" type="hidden" value="1" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="mnautores">Compartir Edición: </label>
				<div class="controls">
					<select id="mnautores" name="mnautores[]" multiple="" class="chzn-select" data-placeholder="Selecciona Usuario" >
						<option></option>
						{% for key, autor in autores %} 
						<option  value="{{ key}}">{{ autor }}</option>
						{% endfor %}
					</select>
					<a data-content="Este campo sirve para compartir la edición con otro usuario registrado en el sistema." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
      				<br />
      				<br />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" >
				<i class="icon-save"></i>
				Guardar
			</button>
		</div>
	</form>
</div>

<div class="modal hide fade" id="modNuevoLibro">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3>Nuevo Libro</h3>
	</div>
	<form class="form-horizontal" method="post" action="{{ urlFor('publicaciones-post') }}">
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="ltitulo">Titulo: </label>
				<div class="controls">
					<input id="ltitulo" name="ltitulo" class="span3" type="text">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="lautor">Autores: </label>
				<div class="controls">
					<input id="lautor" name="lautor" class="span3"  type="text">
					<a data-content="Se deben ingrese los autores tal y como aparecen en la publicación." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
				</div>
			</div>


			<div class="control-group">
				<label class="control-label" for="editorial">Editorial: </label>
				<div class="controls">
					<input id="editorial" name="editorial" class="span3"  type="text">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="isbn">ISBN: </label>
				<div class="controls">
					<input id="isbn" name="isbn" class="span3"  type="text">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="lfechapublicacion">Fecha de publicación:</label>
				<div class="controls">
					<div class="input-append date" id="dp4" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
						<input id="lfechapublicacion" name="lfechapublicacion" class="span2 datepicker" size="16" type="text" value="12-02-2012">
						<span class="add-on" ><i class="icon-calendar"></i></span>
						<input id="tipo" name="tipo" type="hidden" value="3" />
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="lnautores">Compartir Edición: </label>
				<div class="controls">
					<select id="lnautores" name="lnautores[]" multiple="" class="chzn-select" data-placeholder="Selecciona Usuario" >
						<option></option>
						{% for key, autor in autores %} 
						<option  value="{{ key}}">{{ autor }}</option>
						{% endfor %}
					</select>
					<a data-content="Este campo sirve para compartir la edición con otro usuario registrado en el sistema." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
      				<br />
      				<br />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" >
				<i class="icon-save"></i>
				Guardar
			</button>
		</div>
	</form>
</div>

<div class="modal hide fade" id="modNuevoTrabajo">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3>Nuevo Trabajo</h3>
	</div>
	<form class="form-horizontal" method="post" action="{{ urlFor('publicaciones-post') }}">
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="ttitulo">Titulo: </label>
				<div class="controls">
					<input id="ttitulo" name="ttitulo" class="span3" type="text">
				</div>
			</div>
		<div class="control-group">
				<label class="control-label" for="tautor">Autores: </label>
				<div class="controls">
					<input id="tautor" name="tautor" class="span3"  type="text">
					<a data-content="Se deben ingrese los autores tal y como aparecen en la publicación." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
				</div>
			</div>


			<div class="control-group">
				<label class="control-label" for="nacionalidad">Nacionalidad: </label>
				<div class="controls">
					<input id="nacionalidad" name="nacionalidad" class="span3" type="text">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="ttipo">Tipo de trabajo:</label>
				<div class="controls">
					<select id="ttipo" name="ttipo" class="chzn-select" data-placeholder="Seleccione tipo trabajo">
						<option></option>
						<option value="Nacional">Nacional</option>
						<option value="Internacional">Internacional</option>
					</select>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="tfechapublicacion">Fecha de publicación:</label>
				<div class="controls">
					<div class="input-append date" id="dp4" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
						<input id="tfechapublicacion" name="tfechapublicacion" class="span2 datepicker" size="16" type="text" value="12-02-2012">
						<span class="add-on" ><i class="icon-calendar"></i></span>
						<input id="tipo" name="tipo" type="hidden" value="4" />
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="tnautores">Compartir Edición: </label>
				<div class="controls">
					<select id="tnautores" name="tnautores[]" multiple="" class="chzn-select" data-placeholder="Selecciona Usuario" >
						<option></option>
						{% for key, autor in autores %} 
						<option  value="{{ key}}">{{ autor }}</option>
						{% endfor %}
					</select>
					<a data-content="Este campo sirve para compartir la edición con otro usuario registrado en el sistema." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
      				<br />
      				<br />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" >
				<i class="icon-save"></i>
				Guardar
			</button>
		</div>
	</form>
</div>

<div class="modal hide fade" id="modNuevaRevista">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3>Nueva Revista</h3>
	</div>
	<form class="form-horizontal" method="post" action="{{ urlFor('publicaciones-post') }}">
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="rtitulo">Titulo: </label>
				<div class="controls">
					<input id="rtitulo" name="rtitulo" class="span3" type="text">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="rautor">Autores: </label>
				<div class="controls">
					<input id="rautor" name="rautor" class="span3"  type="text">
					<a data-content="Se deben ingrese los autores tal y como aparecen en la publicación." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
				</div>
			</div>


			<div class="control-group">
				<label class="control-label" for="revista">Revista: </label>
				<div class="controls">
					<input id="revista" name="revista" class="span3"  type="text">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="rtipo">Tipo de revista:</label>
				<div class="controls">
					<select id="rtipo" name="rtipo" class="chzn-select" data-placeholder="Seleccione tipo revista">
						<option></option>
						<option value="Arbitrada">Arbitradas</option>
						<option value="Indizada">Indizadas </option>
					</select>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="rfechapublicacion">Fecha de publicación:</label>
				<div class="controls">
					<div class="input-append date" id="dp4" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
						<input id="rfechapublicacion" name="rfechapublicacion" class="span2 datepicker" size="16" type="text" value="12-02-2012">
						<span class="add-on" ><i class="icon-calendar"></i></span>

					</div>
					<input id="tipo" name="tipo" type="hidden" value="2" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="rnautores">Compartir Edición: </label>
				<div class="controls">
					<select id="rnautores" name="rnautores[]" multiple="" class="chzn-select" data-placeholder="Selecciona Usuario" >
						<option></option>
						{% for key, autor in autores %} 
						<option  value="{{ key}}">{{ autor }}</option>
						{% endfor %}
					</select>
					<a data-content="Este campo sirve para compartir la edición con otro usuario registrado en el sistema." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
      				<br />
      				<br />
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" >
				<i class="icon-save"></i>
				Guardar
			</button>
		</div>
	</form>
</div>


<!-------Modal Editar-->

<div class="modal hide fade" id="modEditMemoria">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3>Editar Memoria</h3>
	</div>
	<form id="formm" name="formm" class="form-horizontal" method="post" action="{{ urlFor('publicaciones-post') }}">
		<div class="modal-body">
		
			<div class="control-group">
				<label class="control-label" for="mtitulo">Titulo de memoria: </label>
				<div class="controls">
					<input id="mtitulo" name="mtitulo" class="span3" type="text" value="" >
				</div>
			</div>
	
			<div class="control-group">
				<label class="control-label" for="mautor">Autores: </label>
				<div class="controls">
					<input id="mautor" name="mautor" class="span3"  type="text" value="">
					<a data-content="Se deben ingrese los autores tal y como aparecen en la publicación." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
				</div>
			</div>


			<div class="control-group">
				<label class="control-label" for="mpublicacion">Lugar de publicacion: </label>
				<div class="controls">
					<input id="mpublicacion" name="mpublicacion" class="span3"  type="text" value="">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="mfechapublicacion">Fecha de publicación:</label>
				<div class="controls">
					<div class="input-append date" id="dp4" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
						<input id="mfechapublicacion" name="mfechapublicacion" class=" span2 datepicker" size="16" type="text" value="">
						<span class="add-on" ><i class="icon-calendar"></i></span>
					</div>
					<input id="tipo" name="tipo" type="hidden" value="1" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="mautores">Compartir Edición: </label>
				<div class="controls">
					<select id="mautores" name="mautores[]" multiple="" class="chzn-select" data-placeholder="Selecciona Usuario" >
						<option></option>
						{% for key, autor in autores %} 
						<option  value="{{ key }}">{{ autor }}</option>
						{% endfor %}
					</select>
					<a data-content="Este campo sirve para compartir la edición con otro usuario registrado en el sistema." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
      				<br />
      				<br />
				</div>
			</div>

			
			<input id="id" name="id" type="hidden" value="" />
			<input id="modif" name="modif" type="hidden" value="1" />
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" >
				<i class="icon-save"></i>
				Guardar
			</button>
		</div>
	</form>
</div>


<div class="modal hide fade" id="modEditLibro">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3>Editar Libro</h3>
	</div>
	<form id="forml" name="forml" class="form-horizontal" method="post" action="{{ urlFor('publicaciones-post') }}">
		<div class="modal-body">
			
			<div class="control-group">
				<label class="control-label" for="ltitulo">Titulo: </label>
				<div class="controls">
					<input id="ltitulo" name="ltitulo" class="span3" type="text" value="">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="lautor">Autores: </label>
				<div class="controls">
					<input id="lautor" name="lautor" class="span3"  type="text" value="">
					<a data-content="Se deben ingrese los autores tal y como aparecen en la publicación." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
				</div>
			</div>


			<div class="control-group">
				<label class="control-label" for="editorial">Editorial: </label>
				<div class="controls">
					<input id="editorial" name="editorial" class="span3"  type="text" value="">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="isbn">ISBN: </label>
				<div class="controls">
					<input id="isbn" name="isbn" class="span3"  type="text" value="">
				</div>
			</div> 

			<div class="control-group">
				<label class="control-label" for="lfechapublicacion">Fecha de publicación:</label>
				<div class="controls">
					<div class="input-append date" id="dp4" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
						<input id="lfechapublicacion" name="lfechapublicacion" class="span2 datepicker" size="16" type="text" value="">
						<span class="add-on" ><i class="icon-calendar"></i></span>
						<input id="tipo" name="tipo" type="hidden" value="3" />
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="lautores">Compartir Edición: </label>
				<div class="controls">
					<select id="lautores" name="lautores[]" multiple="" class="chzn-select" data-placeholder="Selecciona Usuario" >
						<option></option>
						{% for key, autor in autores %} 
						<option  value="{{ key}}">{{ autor }}</option>
						{% endfor %}
					</select>
					<a data-content="Este campo sirve para compartir la edición con otro usuario registrado en el sistema." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
      				<br />
      				<br />
				</div>
			</div>

			<input id="id" name="id" type="hidden" value="" />
			<input id="modif" name="modif" type="hidden" value="1" />
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" >
				<i class="icon-save"></i>
				Guardar
			</button>
		</div>
	</form>
</div>

<div class="modal hide fade" id="modEditTrabajo">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3>Editar Trabajo</h3>
	</div>
	<form id="formt" name="formt" class="form-horizontal" method="post" action="{{ urlFor('publicaciones-post') }}">
		<div class="modal-body">
			
			<div class="control-group">
				<label class="control-label" for="ttitulo">Titulo: </label>
				<div class="controls">
					<input id="ttitulo" name="ttitulo" class="span3" type="text" value="">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="tautor">Autores: </label>
				<div class="controls">
					<input id="tautor" name="tautor" class="span3"  type="text" value="">
					<a data-content="Se deben ingrese los autores tal y como aparecen en la publicación." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="nacionalidad">Nacionalidad: </label>
				<div class="controls">
					<input id="nacionalidad" name="nacionalidad" class="span3" type="text" value="">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="ttipo">Tipo de trabajo:</label>
				<div class="controls">
					<select id="ttipo" name="ttipo">
						<option value="">Tipo Trabajo</option>
						<option value="Nacional">Nacional</option>
						<option value="Internacional">Internacional</option>
					</select>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="tfechapublicacion">Fecha de publicación:</label>
				<div class="controls">
					<div class="input-append date" id="dp4" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
						<input id="tfechapublicacion" name="tfechapublicacion" class="span2 datepicker" size="16" type="text" value="">
						<span class="add-on" ><i class="icon-calendar"></i></span>
						<input id="tipo" name="tipo" type="hidden" value="4" />
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="tautores">Compartir Edición: </label>
				<div class="controls">
					<select id="tautores" name="tautores[]" multiple="" class="chzn-select" data-placeholder="Selecciona Usuario" >
						<option></option>
						{% for key, autor in autores %} 
						<option  value="{{ key}}">{{ autor }}</option>
						{% endfor %}
					</select>
					<a data-content="Este campo sirve para compartir la edición con otro usuario registrado en el sistema." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
      				<br />
      				<br />
				</div>
			</div>
			
			<input id="id" name="id" type="hidden" value="" />
			<input id="modif" name="modif" type="hidden" value="1" />
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" >
				<i class="icon-save"></i>
				Guardar
			</button>
		</div>
	</form>
</div>

<div class="modal hide fade" id="modEditRevista">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3>Editar Revista</h3>
	</div>
	<form id="formr" name="formr" class="form-horizontal" method="post" action="{{ urlFor('publicaciones-post') }}">
		<div class="modal-body">

			<div class="control-group">
				<label class="control-label" for="rtitulo">Titulo: </label>
				<div class="controls">
					<input id="rtitulo" name="rtitulo" class="span3" type="text" value="">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="rautor">Autores: </label>
				<div class="controls">
					<input id="rautor" name="rautor" class="span3"  type="text" value="">
					<a data-content="Se deben ingrese los autores tal y como aparecen en la publicación." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="revista">Revista: </label>
				<div class="controls">
					<input id="revista" name="revista" class="span3"  type="text" value="">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="rtipo">Tipo de revista:</label>
				<div class="controls">
					<select id="rtipo" name="rtipo" class="">
						<option value=""></option>
						<option value="Arbitradas">Arbitrada</option>
						<option value="Indizadas">Indizadas</option>
					</select>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="rfechapublicacion">Fecha de publicación:</label>
				<div class="controls">
					<div class="input-append date" id="dp4" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
						<input id="rfechapublicacion" name="rfechapublicacion" class="span2 datepicker" size="16" type="text" value="">
						<span class="add-on" ><i class="icon-calendar"></i></span>

					</div>
					<input id="tipo" name="tipo" type="hidden" value="2" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="rautores">Compartir Edición: </label>
				<div class="controls">
					<select id="rautores" name="rautores[]" multiple="" class="chzn-select" data-placeholder="Selecciona Usuario" >
						<option></option>
						{% for key, autor in autores %} 
						<option  value="{{ key}}">{{ autor }}</option>
						{% endfor %}
					</select>
					<a data-content="Este campo sirve para compartir la edición con otro usuario registrado en el sistema." rel="popover" data-original-title="Atención" class="mute">
      				<i class="icon-info-sign"> </i>
      				</a>
      				<br />
      				<br />
				</div>
			</div>
			<input id="id" name="id" type="hidden" value="" />
			<input id="modif" name="modif" type="hidden" value="1" />
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" >
				<i class="icon-save"></i>
				Guardar
			</button>
		</div>
	</form>
</div>


{% for upu in usuario.upu %}


<!-- Confirmacion de borrado-->

	<div class="modal hide fade" id="modconfirmacion{{ upu.publicacion.id }}">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>Confirmacion de Borrado</h3>
		</div>
		<div class="modal-body">
			<label>¿Esta seguro que desea borrar {% if upu.publicacion.tipo=="Libro" or upu.publicacion.tipo=="Trabajo" %} el {% else %} la {% endif %} {{ upu.publicacion.tipo }}  <strong>{{ upu.publicacion.nombre }}</strong> ?  </label>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">
				<i class="icon-remove-sign"></i>
				No
				</a><!---->
			<a class="btn btn-primary" href="{{ urlFor('borrar-publicacion',{'id': upu.publicacion.id}) }}">
				<i class="icon-trash"></i>
				Si
				</a>
		</div>
	</div>

{% endfor %}
<br />
{% endblock %}
