{% extends 'admin-base.html' %}
{% block content %}
<div class="row">
    <div class="span11">
        <div class="page-header">
            <h3>Eventos creados</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="span11">
        <table class="table table-bordered table-condensed table-striped" id="eventsTbl" name="eventsTbl">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="span3">Nombre</th>
                    <th>Vigencia</th>
                    <th>Visibilidad</th>
                    <th>Prioridad</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% set priority = ['','Alta','Normal','Baja']%}
            {% if (eventos is defined) and (eventos|length > 0) %}
                {% for evento in eventos %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="span3">{{ evento.nombre }}</td>
                    <td>{{ evento.fecha_inicio|date('d/m') }} {{ evento.hora_inicio }} &mdash; {{ evento.fecha_fin|date('d/m') }} {{ evento.hora_fin }}</td>
                    <td>{{ evento.visibilidad|raw }}</td>
                    <td>{{ priority[evento.prioridad] }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

<script>
    head.ready(function() {
        $(function() {
            $('#results').removeClass('hide').fadeIn(1500);
            var usersTable = $('#eventsTbl').dataTable({
                "oLanguage" : {
                    "sUrl" : "{{ urlFor('home')}}js/dataTables.spanish.txt"
                },
                "fnDrawCallback" : function() {
                },
                "sDom" : "<'row'<'span9'lf>r>t<'row'<'span4'i><'span5'p>>",
                "sPaginationType" : "bootstrap"
            });
        });
    });
</script>
{% endblock %}