{% extends 'admin-base.html' %}
{% block content %}
<div class="row">
	
	<div class="span12">
		<div class="row">
			<div class="span2">
				<h2>Idiomas</h2>
			</div>
			<div class="span2">
				<a href="#" class="btn btn-primary" data-target="#newUser" data-toggle="modal">
					<i class="icon-user icon-white"></i> Nuevo Idioma
				</a>
			</div>
		</div>
		<div class="row">
			<div class="span11">
				<div id="results" class="hide">
				<table id="idioma-table" name="idioma-table" class="table table-bordered table-condensed table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre</th>
						</tr>
					</thead>
					<tbody>
					{% if idiomas is defined %}
						{% for idioma in idiomas %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>{{ idioma.nombre}}</td>
							<td>
								<a href="#" data-toggle="modal" data-target="#editar-idioma{{ idioma.nombre }}-modal">Editar</a>
								<a href="{{ urlFor('borrar-idioma',{'id': idioma.id}) }}">Borrar</a>
							</td>
						</tr>
						<div class="modal hide fade" id="editar-idioma{{ idioma.nombre }}-modal">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h3>Editar Idioma</h3>
							</div>
							<div class="modal-body">
								<form id="editIdiomaForm" name="editIdiomaForm" class="form-horizontal" action="{{ urlFor('actualiza-idioma-post',{'id' : idioma.id }) }}" method="post">

									<div class="control-group">
										<label class="control-label" for="nombre">Nombre</label>
										<div class="controls">
											<input type="nombre" class="input-xlarge" id="nombre-edit" name="nombre-edit" value="{{ idioma.nombre }}">
										</div>
									</div>

									</div>
									<div class="modal-footer">
										<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
										<button type="submit" class="btn btn-primary">Guardar Datos</button>
									</div>
								</form>
							</div>
					{% endfor %}
					{% else %}
							<tr>
								<td> </td>
								<td>No se encontraron resultados</td>
								<td> </td>
								<td> </td>
							</tr>
					{% endif %}
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal hide fade" id="newUser">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3>Nuevo Idioma</h3>
	</div>
	<form id="newIdiomaForm" name="newIdiomaForm" action="{{ urlFor('nuevo-idioma-post') }}" method="post" class="form-horizontal">
		<div class="modal-body">

			<div class="control-group">
				<label class="control-label" for="nombre">Nombre</label>
				<div class="controls">
					<input type="nombre" class="input-xlarge" id="nombre" name="nombre" value="">
				</div>
			</div>

		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
			<button type="submit" class="btn btn-primary">Guardar Datos</button>
		</div>
	</form>
</div>

<script>
head.ready(function(){
	$(function(){
		//$('#waiting').addClass('hide').fadeOut(2500);
		$('#results').removeClass('hide').fadeIn(1500);
		var areaiTable = $('#areasinteres-table').dataTable({
			"oLanguage": {
			    "sUrl":          "{{ urlFor('home')}}js/dataTables.spanish.txt"
			},
			"fnDrawCallback": function () {
			},
			"sDom": "<'row'<'span9'lf>r>t<'row'<'span4'i><'span5'p>>",
			"sPaginationType": "bootstrap"
		});
		
		$('#newAIForm').isHappy({
			fields: {
				'#nombre':{
					required: true,
					message: 'nombre válido necesario',
					test: happy.nombre
				},
			}
		});
	});
});
</script>
{% endblock %}
