{% extends 'admin-base.html' %}
{% block content %}
<div class="row">
	<div class="span10 offset1">
	<form id="neweventoForm" name="neweventoForm" action="{{ urlFor('nuevo-evento-post') }}" method="post" class="form-horizontal">
		<legend>Nuevo Evento</legend>
		<input type="hidden"  id="autor" name="autor" value="{{ user.id|default('') }}">
		<div class="control-group">
			<label class="control-label" for="nombre">Nombre</label>
			<div class="controls">
				<input type="text" id="nombre" name="nombre" value="">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="descripcion">Descripción</label>
			<div class="controls">
				<textarea id="descripcion" name="descripcion" rows="4" class="span5"></textarea>
			</div>
		</div>
		{% set today = 'now'|date('d/m/Y') %}
		{% set time = 'now'|date('h:i A')%}
		<div class="control-group">
			<label class="control-label" for="fechaInicio">Fecha y hora de inicio</label>
			<div class="controls control-row">
				<div class="input-append">
					<input id="fechaInicio" name="fechaInicio"  type="text" class="datepicker span2" value="{{ today }}">
					<span class="add-on"><i class="icon-calendar"></i></span>
				</div>
				&emsp;
				<input id="horaInicio" name="horaInicio" class="timepicker2 span2" type="text">
				<div class="input-append">
					<input id="horaInicio" name="horaInicio" class="timepicker span2" type="text"><span class="add-on"><i class="icon-time"></i></span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="fechaFin">Fecha y hora de fin</label>
			<div class="controls control-row">
				<div class="input-append">
					<input id="fechaFin" name="fechaFin" type="text" class="datepicker span2" value="{{ today }}">
					<span class="add-on"><i class="icon-calendar"></i></span>
				</div>
				&emsp;
				<div class="input-append" >
					<input type="text" id="horaFin" name="horaFin" class="timepicker span2">
					<span class="add-on"><i class="icon-time"></i></span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="prioridad">Prioridad:</label>
			<div class="controls">
				<select id="prioridad" name="prioridad" class="chzn-select" data-placeholder="Seleccione prioridad">
					<option></option>
					<option value="0">Alta</option>
					<option value="1">Normal</option>
					<option value="2">Baja</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="visibilidad">Invitados:</label>
			<div class="controls">
				<select id="visibilidad" name="visibilidad" class="chzn-select" data-placeholder="Seleccione la visibilidad">
					<option></option>
					<option value="0">Público</option>
					{% for rol in roles %}
					<option value="{{ rol.id }}">{{ rol.nombre }}s</option>
					{% endfor %}
{#					<option value="1">Docentes</option>
					<option value="2">Alumnos</option>
					<option value="3">Aspirantes</option>
					<option value="4">Ex-alumnos</option>#}
					<option value="p">Personalizado...</option>
				</select>
			</div>
		</div>
		<div class="control-group" >
			<label class="control-label">Invitados:</label>
			<div class="controls">
				<select id="principal" name="principal[]" multiple="" class="multiselect" >
				{% for usuario in usuarios %}
					<option value="{{ usuario.id }}">{{ usuario.personal.nombre~" "~usuario.personal.paterno~" "~usuario.personal.materno }}</option>
				{% endfor %}
				</select>
			</div>
		</div>
			<div class="form-actions">
				{% if user is defined and user is not null %}
				{% if user.ur[0].rol.nombre=='Docente' %}
				<a href="{{ urlFor('docente') }}" class="btn" >Cancelar</a>
				{% else %}
				<a href="{{ urlFor('admin') }}" class="btn" >Cancelar</a>
				{% endif %}
				{% endif %}

				<button type="submit" class="btn btn-primary">
					Guardar Datos
				</button>
			</div>
	</form>
</div>
</div>

<script>
head.ready(function(){
	$(function(){
		$(".multiselect").twosidedmultiselect();
		$('.timepicker2').timepicker({
			minuteStep: 5,
			showInputs: false,
			disableFocus: true,
			minuteStep: 5
        });
	});
});
</script>
{% endblock %}
