{% extends 'base.html' %}
{% block content %}
<div class="tabbable" style="margin-bottom: 18px;">
	<ul class="nav nav-tabs">
		<li class="active">
			<a data-toggle="tab" href="#tab1">Libros</a>
		</li>
		<li class="">
			<a data-toggle="tab" href="#tab3">Revistas Indizadas</a>
		</li>
		<li class="">
			<a data-toggle="tab" href="#tab4">Revistas Arbitradas</a>
		</li>
		<li class="">
			<a data-toggle="tab" href="#tab2">Memorias</a>
		</li>
		<li class="">
			<a data-toggle="tab" href="#tab5">Trabajos Presentados</a>
		</li>
	</ul>
	
	<div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
		
		<!-----------------------------------------------tsb1--------------------------------------->
		
		<div id="tab1" class="tab-pane fade active in">
			<div class="row">
				<div class="span8">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Autor</th>
								<th>Titulo</th>
								<th>Editorial</th>
								<th>Fecha de Publicacion</th>
								<th>IBN</th>
							</tr>
						</thead>
						<tbody>
				
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!----------------------------------tab2------------------------------->
		
		<div id="tab2" class="tab-pane fade">
			<div class="row">
				<div class="span8">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Autor</th>
								<th>Titulo</th>
								<th>Evento</th>
								<th>Fecha de Publicacion</th>
							</tr>
						</thead>
						<tbody>
				
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-------------------------------------------tab3--------------------------->
		
		<div id="tab3" class="tab-pane fade">
			<div class="row">
				<div class="span8">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Autor</th>
								<th>Titulo</th>
								<th>Evento</th>
								<th>Fecha de Publicacion</th>
							</tr>
						</thead>
						<tbody>
				
						</tbody>
					</table>
				</div>
			</div>
		</div>
	<!-----------------------------------------Tab4--------------------------------------->
	<div id="tab4" class="tab-pane fade">
			<div class="row">
				<div class="span8">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Autor</th>
								<th>Titulo</th>
								<th>Evento</th>
								<th>Fecha de Publicacion</th>
							</tr>
						</thead>
						<tbody>
				
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!--------------------------------------------Tab5---------------------------------->
		<div id="tab5" class="tab-pane fade">
			<div class="row">
				<div class="span8">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Autor</th>
								<th>Titulo</th>
								<th>Tipo Trabajo</th>
								<th>Nacionalidad</th>
								<th>Fecha de Publicacion</th>
							</tr>
						</thead>
						<tbody>
				
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}