{% extends 'base.html' %}
{% block content %}


<!-- AGREGAR PUBLICACIONES -->
<ul class="nav nav-tabs" id="myTab">
<li class="active"><a  href="#libros" data-toggle="tab">Libros</a></li>
<li><a href="#trabajos" data-toggle="tab">Trabajos</a></li>
<li><a href="#memoria" data-toggle="tab">Memorias</a></li>
<li><a href="#revista" data-toggle="tab">Revistas</a></li>

</ul>
 
 
 
 
 
<div class="tab-content">
	<!-- TAB MEMORIAS -->
<div class="tab-pane fade" id="memoria" >
	<form method="post" action="{{ urlFor('publicaciones-post') }}">
          
    <div class="span3"><label for="mautor">Coautor/s: </label>
		<input id="mautor" name="mautor" class="span3"  type="text">
    </div>  
    
    <div class="span3"><label for="mtitulo">Titulo de memoria: </label>
		<input id="mtitulo" name="mtitulo" class="span3" type="text">
    </div>  
    
    <div class="span3"><label for="mpublicacion">Lugar de publicacion: </label>
		<input id="mpublicacion" name="mpublicacion" class="span3"  type="text">
    </div>
    
	<div class="span3">
 		<label for="mfechapublicacion">Fecha de publicación:</label>
 		<div class="input-append date" id="dp4" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
 			<input id="mfechapublicacion" name="mfechapublicacion" class="span1 add-on datepicker" size="16" type="text" value="12-02-2012">
 			<span ><i class="icon-calendar"></i></span>
 			<input id="tipo" name="tipo" type="hidden" value="1" />
    	</div>
   	</div>
</form>
</div>

<!-- TAB REVISTAS -->
<div class="tab-pane fade" id="revista" >
	<form method="post" action="{{ urlFor('publicaciones-post') }}">
          
    <div class="span3"><label for="rautor">Coautor/s: </label>
		<input id="rautor" name="rautor" class="span3"  type="text">
    </div>  
    
    <div class="span3"><label for="rtitulo">Titulo de publicacion: </label>
		<input id="rtitulo" name="rtitulo" class="span3" type="text">
    </div>  
    
    <div class="span3"><label for="revista">Revista en donde se publico: </label>
		<input id="revista" name="revista" class="span3"  type="text">
    </div>
    
    <div class="span3"><label for="rtipo">Tipo de revista:</label> 
   		<select id="rtipo" name="rtipo">Tipo
   			<option>Arbitradas</option>
   			<option>Indizadas </option>
    	</select>  		
    </div>
    
	<div class="span3">
 		<label for="rfechapublicacion">Fecha de publicación:</label>
 		<div class="input-append date" id="dp4" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
 			<input id="rfechapublicacion" name="rfechapublicacion" class="span1 add-on datepicker" size="16" type="text" value="12-02-2012">
 			<span ><i class="icon-calendar"></i></span>
 			<input id="tipo" name="tipo" type="hidden" value="2" />
    	</div>
   	</div>
</form>
</div>

<!-- TAB Libros-->
<div class="tab-pane fade active in" id="libros" >
	<form method="post" action="{{ urlFor('publicaciones-post') }}">
          
    <div class="span3"><label for="lautor">Coautor/s: </label>
		<input id="lautor" name="lautor" class="span3"  type="text">
    </div>  
    
    <div class="span3"><label for="ltitulo">Titulo de libro: </label>
		<input id="ltitulo" name="ltitulo" class="span3" type="text">
    </div>  
    
    <div class="span3"><label for="editorial">Editorial: </label>
		<input id="editorial" name="editorial" class="span3"  type="text">
    </div>
   	
   	<div class="span3"><label for="isbn">ISBN: </label>
		<input id="isbn" name="isbn" class="span3"  type="text">
    </div>
    
    <div class="span3">
 		<label for="lfechapublicacion">Fecha de publicación:</label>
 		<div class="input-append date" id="dp4" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
 			<input id="lfechapublicacion" name="lfechapublicacion" class="span1 add-on datepicker" size="16" type="text" value="12-02-2012">
 			<span ><i class="icon-calendar"></i></span>
 			<input id="tipo" name="tipo" type="hidden" value="3" />
    	</div>
   	</div>
</form>
</div>

<!-- TAB trabajos-->
<div class="tab-pane fade" id="trabajos" >
	<form method="post" action="{{ urlFor('publicaciones-post') }}">
          
    <div class="span3"><label for="tautor">Coautor/s: </label>
		<input id="tautor" name="tautor" class="span3"  type="text">
    </div>  
    
    <div class="span3"><label for="ttitulo">Titulo de trabajo: </label>
		<input id="ttitulo" name="ttitulo" class="span3" type="text">
    </div>  
    
    <div class="span3"><label for="nacionalidad">Nacionalidad: </label>
		<input id="nacionalidad" name="nacionalidad" class="span3" type="text">
    </div> 
    
    <div class="span3"><label for="ttipo">Tipo de trabajo:</label> 
   		<select id="ttipo" name="ttipo">Tipo
   			<option>Nacional</option>
   			<option>Internacional</option>
    	</select>  		
    </div>
    
    <div class="span3">
 		<label for="tfechapublicacion">Fecha de publicación:</label>
 		<div class="input-append date" id="dp4" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
 			<input id="tfechapublicacion" name="tfechapublicacion" class="span1 add-on datepicker" size="16" type="text" value="12-02-2012">
 			<span ><i class="icon-calendar"></i></span>
 			<input id="tipo" name="tipo" type="hidden" value="4" />
    	</div>
   	</div>
</form>
</div>
</div>
<br />
<br />
<!--TABLA DE RESULTADOS-->
<h3 align="center">Publicaciones registradas.</h3>
<br/>
<hr>
<br/> 

<table class="table table-bordered table-condensed table-striped" id="publicaciones" >
	<thead>
		<tr>
			<th class="ziseTable">Fecha de publicación</th>
			<th class="ziseTable">Autor</th>
			<th class="ziseTable">Titulo</th>		
		</tr>
	</thead>
	<tbody>
	{% if publicaciones is defined %}
	{% if publicaciones|length > 0  %}
	{% for publicacion in publicaciones %}
		<tr>
			<td align="center">{{ publicacion.fecha_publicacion }}</td>
			<td align="center">{{ publicacion.autor }}</td>
			<td align="center">{{ publicacion.nombre}}</td>
		</tr>
	{% endfor %}
	{% else %}
			<tr>
				<td> </td>
				<td colspan="4" align="center">No se encontraron resultados</td>
				<td> </td>			
			</tr>
	{% endif %}
	{% endif %}
	</tbody>
	{##}
	
</table>

<script>
head.ready(function(){
	$(function(){
		//$('#waiting').addClass('hide').fadeOut(2500);
		$('#results').removeClass('hide').fadeIn(1500);
		var usersTable = $('#publicaciones').dataTable({
			"oLanguage": {
			    "sUrl":          "{{ urlFor('home')}}js/dataTables.spanish.txt"
			},
			"fnDrawCallback": function () {
			},
			"sDom": "<'row'<'span8'lf>r>t<'row'<'span3'i><'span4'p>>",
			"sPaginationType": "bootstrap"
		});
		
		$('#newUserForm').isHappy({
			fields: {
				'#usuario':{
					required: true,
					message: 'Alias de acceso necesario'
				},
				'#email':{
					required: true,
					message: 'Email válido necesario',
					test: happy.email
				},
				'#rol':{
					required: true,
					message: 'Especifica un rol',
					arg: 0,
					test: happy.nequal
				}
			}
		});
		
	});
});
</script>

<br>
<br>


{% endblock %}