{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="span8">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Nombre</th>
				</tr>
			</thead>
			<tbody>
{#
				{% for usuario in usuarios %}
				<tr>
					<td>{% if usuario.id is defined %}{{ usuario.id }}{% endif %}</td>
					<td>{% if (usuario.personal.nombre is defined)and(usuario.personal.paterno)and(usuario.personal.materno)%}{{ usuario.personal.nombre~" "~usuario.personal.paterno~" "~usuario.personal.materno }}{% endif %}</td>
					<td>{% if usuario.docente.grado is defined %}{{ usuario.docente.grado }}{% endif %}</td>
					<td>{% if usuario.docente.especialidad is defined %}{{ usuario.docente.especialidad }}{% endif %}</td>
					<td>{% if usuario.docente.cedula is defined %}{{ usuario.docente.cedula }}{% endif %}</td>
				</tr>
				{% endfor %}
#}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}