{% extends 'admin-base.html' %}
{% block content %}
<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2">
				<h2>Estadísticas</h2>
			</div>
		</div>
		<div class="row">
			<div class="span11">
				<div id="results" class="hide">
					<img src="{{ urlFor('grafica-matriculacion') }}" alt=""/>
					<img src="{{ urlFor('grafica-genero') }}" alt=""/>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
head.ready("app", function(){
	head.js(
//		{anythingzoomer: "{{ urlFor('home') }}js/jquery.anythingzoomer.min.js"}
	);
	$(function(){
		$('#results').fadeIn(1500);
	});
});
</script>
{% endblock %}
