{% extends "base.html" %}

{% block page_title %}Nueva subtarea{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
{% if user.role == 1%}
  <li>
    <a href="{{ urlFor('home') }}">Inicio</a> <span class="divider">/</span>
  </li>
{% endif %}
  <li>
  	<a href="{{ urlFor('district', {'id': district.id}) }}">Distrito {{ district.id }}</a> <span class="divider">/</span>
  </li>
  <li>
  	<a href="{{ urlFor('activity', {'district': district.id, 'activity': activity.id}) }}">{{ activity.name }}</a> <span class="divider">/</span>
  </li>
  <li>
  	<a href="{{ urlFor('task', {'district': district.id, 'activity': activity.id, 'task': task.id}) }}">{{ task.name }}</a> <span class="divider">/</span>
  </li>
  <li class="active">Nueva Subtarea</li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="offset3 span6 content">
		<form class="form-horizontal" method="post" action="{{ urlFor('subtask-post', {'district': district.id, 'activity': activity.id, 'task': task.id}) }}" id="new-subtask-form" name="new-subtask-form">
			<div class="alert alert-error" id="alert">
				<strong>Oh snap!</strong>
			</div>
			<fieldset>
				<div class="control-group">
            		<label class="control-label" for="name">Nombre</label>
	            	<div class="controls">
	              		<input type="text" class="input-large" id="name" name="name" placeholder="Subtarea 1">
	            	</div>
          		</div>
				<div class="control-group" >
          			<label class="control-label" for="description">Descripci&oacute;n</label>
          			<div class="controls">
          				<textarea id="description" name="description" placeholder="Consiste en..."></textarea>
	            	</div>
          		</div>
				<div class="control-group">
            		<label class="control-label" for="start-date">Fecha de Inicio</label>
	            	<div class="controls">
	              		<input type="text" class="input-large datepicker" id="start-date" name="start-date" value="{{ "now"|date("d/m/Y") }}" data-date-format="dd/mm/yyyy">
	            	</div>
          		</div>
          		<div class="control-group">
            		<label class="control-label" for="end-date">Fecha de Fin</label>
	            	<div class="controls">
	              		<input type="text" class="input-large datepicker" id="end-date" name="end-date" value="{{ "now +1 day"|date("d/m/Y") }}" data-date-format="dd/mm/yyyy">
	            	</div>
          		</div>
          		{#<div class="control-group">
		            <label class="control-label" for="progress">Estatus</label>
		            <div class="controls">
		              <select id="progress" name="progress">
		                <option value="0" selected>No iniciado</option>
		                <option value="1">En progreso</option>
		                <option value="2">Finalizado</option>
		              </select>
		            </div>
				</div>#}
          		{#<div class="control-group" >
          			<label class="control-label" for="comment">Comentario</label>
          			<div class="controls">
          				<textarea placeholder="La subtarea se genero debido a..." id="comment" name="comment"></textarea>
	            	</div>
          		</div>#}
          		<div class="form-actions">
            		<button type="submit" class="btn btn-success" id="save" name="save">Guardar</button>
            		<a href="{{ urlFor('task', {'district': district.id, 'activity': activity.id, 'task': task.id}) }}" class="btn">Cancelar</a>
          		</div>
			</fieldset>
		</form>
		<script>
		    $('#new-subtask-form').isHappy({
		    fields: {
		      '#name': {
		        required: true,
		        message: 'Nombre de la subtarea',
		      },
		      '#description': {
		        required: true,
		        message: '¿En que consiste?',
		      },
		      '#start-date': {
		      	required: true,
		      	message: 'Requerida'
		      },
		      '#end-date': {
		      	required: true,
		      	message: 'Requerida'
		      },
		      /*'#progress': {
		      	required: true,
		        message: 'Requerido',
		      },
		      '#comment': {
		      	required: true,
		      	message: '¿Porque se genero la subtarea?'
		      }*/
		    }
		  });
		</script>
	</div>	
</div>
{% endblock %}
